# Dont forget to change the url accordingly!
DB_USER=davidnet
DB_PASSWORD=64charpassword
DB_NAME=davidnet_db

# Password in DATABASE_URL needs to be URL ENCODED!
DATABASE_URL=postgres://davidnet:64charpassword@localhost:5432/davidnet_db

# Used to verify with the frontend if correctly configured.
BACKEND_URL=http://localhost:3020

# For communicating between internal stuff
INTERNAL_SECRET=64charstring